<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
	<parameter name="author" value="Guru99" />
 	<parameter name="searchKey" value="India" />
 	<test name="testGuru">
 		<parameter name="searchKey" value="UK" />
 		<classes>
 			<class name="firsttestngpackage.ParameterWithTestNGXML"></class>
 		</classes>
 	</test>
 	<test name="suiteParameters">
 		<classes>
 			<class name="firsttestngpackage.ParameterWithTestNGXML"></class>
 		</classes>
 	</test>
 	<test name="testPawel">
 		<parameter name="author" value="Pawel" />
 		<parameter name="searchKey" value="Krosno" />
 		<classes>
 			<class name="firsttestngpackage.ParameterWithTestNGXML"></class>
 		</classes>
 	</test>
</suite>